
body {
  height: 100vh; 
  margin: 0; 
  
}

.body2{
  background: -webkit-gradient(linear, left top, left bottom, from(#506cf7), to(#fa6a35));
  background: -o-linear-gradient(top, #506cf7, #fa6a35);
  background: linear-gradient(to bottom, #506cf7, #fa6a35);
  height: 100vh; 
  display: -webkit-box; 
  display: -ms-flexbox; 
  display: flex;
}
h2{
  text-align: center;
  color: white;

}

.registration-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  -webkit-box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
          box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  background: -webkit-gradient(linear, left top, left bottom, from(#506cf7), to(#fa6a35));
  background: -o-linear-gradient(top, #506cf7, #fa6a35);
  background: linear-gradient(to bottom, #506cf7, #fa6a35);
  -webkit-transition: -webkit-box-shadow 0.3s ease;
  transition: -webkit-box-shadow 0.3s ease;
  -o-transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease;
  transition: box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
  margin-top: 50px;
}



.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
  padding-left: 10px;
}

input {
  width: 100%;
  padding: 8px;
  height: 40px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
}
input:focus {
 outline: none;
}

.error {
  border-color: rgb(4, 0, 0);
}

.error-message {
  color: rgb(1, 0, 0);
  font-size: 14px;
}

.register-button {
  background-color: rgb(76, 83, 175);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #000600;
}
