
body {
  height: 100vh; 
  margin: 0; 
  
}

.body2{
  background: linear-gradient(to bottom, #506cf7, #fa6a35);
  height: 100vh; 
  display: flex;
}
h2{
  text-align: center;
  color: white;

}

.registration-container {
  width: 400px;
  margin: auto;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  background: linear-gradient(to bottom, #506cf7, #fa6a35);
  transition: box-shadow 0.3s ease;
  margin-top: 50px;
}



.form-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  color: white;
  padding-left: 10px;
}

input {
  width: 100%;
  padding: 8px;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 20px;
}
input:focus {
 outline: none;
}

.error {
  border-color: red;
}

.error-message {
  color: red;
  font-size: 14px;
}

.register-button {
  background-color: rgb(76, 83, 175);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

.register-button:hover {
  background-color: #000600;
}
