body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
  }
  
  .login-page {
    background: url('images/bg5.jpg') center/cover no-repeat;
    background-size:cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
  }
  
  .login-container {
    
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    
  }
  
  header {
    text-align: left;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  input {
    height: 20px;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: transparent; 
    color: white;
    position: relative;
    
  }
  
  .login-actions {
    display: flex;
    flex-direction: column;
  }
  
  button {
    background-color: #022889;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    position: relative;
    height: 40px;
  }
  
  .login-actions a {
    margin-top: 10px;
    text-decoration: none;
    color: #f5ecec;
    display: flex;
    margin-left: 150px;
  }
  
  footer {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: white;
  }
  
  footer a {
    margin: 5px;
    text-decoration: none;
    color: #ffffff;
    color: white;
  }
  
  
  header h1,
  footer {
    position: absolute;
    top: 10px;
    right: 50px;
  }
  

  footer p {
    position: absolute;
    bottom: 10px;
    left: 30px;
  }
  .keyheding{
    position: absolute;
    left: 90px;
    font-style: italic;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .logo2 img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    margin-left: 220px;
    margin-bottom: 50px;
  }
  #keep-logged-in{
    margin-right: 240px;
    
  }
  

  button:hover {
    background-color: #011168;
  }

  .login-actions a:hover,
  footer a:hover {
    color: #564caf;
  }
  