.registration-container {
    background: linear-gradient(to bottom, rgb(9, 229, 38), rgb(123, 132, 254));
    max-width: 400px;
    margin: 30px;
    align-items: center;
    padding: 20px;
    
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 1px 6px 6px 5px rgba(0, 0, 0, 0.1);
    display: flex;
     margin-left: 440px;
  }
  
  h2 {
    text-align: center;
    color: #ffffff;
    font-style: italic;
    font-family:sans-serif;
    padding-right:100px ;

  }
  .heading2{
    padding-right: 100px;
    padding-left: 40px;
    display: flex;
    font-size: 30px;
  }
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    margin-bottom: 8px;
    color: #ffffff;
  }
  
  input {
    width: 200px;
    border-radius: 20px;
    border: 1px solid #0606ea;
    border-radius: 4px;
    font-size: 16px;
   
    
  }
  input[type=text] {
    border-radius: 20px;
    color: white;
  }
  input[type=password] {
    border-radius: 20px;
  }
  
  
  button {
    background-color: #2402a9;
    color: #fff;
    
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px; 
    width: 210px;
    margin-left: 6px;
  }
  input:focus{
    outline-color: rgb(255, 255, 255);
  }
 
  
  .error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 14px;
    margin-top: 4px;
  }
  .body{
    display: flex;
    background: linear-gradient(to bottom, rgb(9, 229, 38), rgb(123, 132, 254));
  }